@model student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <form asp-action="Apply" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Name"> NAME : </label>
            <input asp-for="Name">
        </p> 
        <p>
            <label asp-for="Email"> EMAIL : </label>
            <input asp-for="Email">
        </p> 
        <p>
            <label asp-for="Phone"> PHONE : </label>
            <input asp-for="Phone">
        </p> 
        <p>
            <label asp-for="Confirm"> Have you attend this course ? </label>
            <select asp-for="Confirm">
                <option value="true">YES</option>
                <option value="false">NO</option>
            </select>
        </p>
        <p>
            <input type="submit" value="SUBMIT">
        </p>
    </form>
</body>
</html>